.restaurant .btn-add-res {
    margin: 25px 700px;
}

.grid-container {
    display: grid;
    gap: 50px 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(167, 115, 42, 0.728);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 30px;
}

.btn-add-res {
    background: rgba(255, 0, 0, 0.6);
    color: white;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 8px;
}

.btn-delete-res {
    background: rgba(255, 0, 0, 0.539);
    color: white;
    border: none;
    padding: 14px 37px;
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.addRes a {
    text-decoration: none;
}